/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: fit-content;
  font-family: Poppins-Regular, sans-serif;
  color: #FFE400;
  font-size: 16px;
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #fff;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #F8E9A1;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #FFE400;
}

input:-moz-placeholder {
  color: #FFE400;
}

input::-moz-placeholder {
  color: #FFE400;
}

input:-ms-input-placeholder {
  color: #FFE400;
}

textarea::-webkit-input-placeholder {
  color: #FFE400;
}

textarea:-moz-placeholder {
  color: #FFE400;
}

textarea::-moz-placeholder {
  color: #FFE400;
}

textarea:-ms-input-placeholder {
  color: #FFE400;
}

label {
  margin: 0;
  display: block;
  color: #FFE400;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #FFE400;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.wrap-login100 {
  width: 600px;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  padding: 3% 3% 3% 3%;

  background: #d2ebe9;
  background: -webkit-linear-gradient(#230444, #90303D, #ED8240);
  background: -o-linear-gradient(#230444, #90303D, #ED8240);
  background: -moz-linear-gradient(#230444, #90303D, #d2ebe9);
  background: linear-gradient(#230444, #90303D, #ED8240);
}

.wrap-login101 {
  width: 600px;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  padding: 3% 3% 3% 3%;

  background: #d2ebe9;
  background: -webkit-linear-gradient(#230444, #203864, #2F5597);
  background: -o-linear-gradient(#230444, #203864, #2F5597);
  background: -moz-linear-gradient(#230444, #203864, #2F5597);
  background: linear-gradient(#230444, #203864, #2F5597);
}

.wrap-login102 {
  width: 600px;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  padding: 3% 3% 3% 3%;

  background: #d2ebe9;
  background: -webkit-linear-gradient(#90303D, #C00000, rgb(197, 64, 37));
  background: -o-linear-gradient(#90303D, #C00000, #EC3814);
  background: -moz-linear-gradient(#90303D, #C00000, #EC3814);
  background: linear-gradient(#90303D, #C00000, rgb(184, 60, 35));
}

.wrap-login103 {
  width: 600px;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  padding: 3% 3% 3% 3%;

  background: #d2ebe9;
  background: -webkit-linear-gradient(#D09E00, rgb(221, 134, 20), #ED8240);
  background: -o-linear-gradient(#D09E00, rgb(221, 134, 20), #ED8240);
  background: -moz-linear-gradient(#D09E00, rgb(221, 134, 20), #ED8240);
  background: linear-gradient(#D09E00, rgb(221, 134, 20), #ED8240);
}

.wrap-login104 {
  width: 600px;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  padding: 3% 3% 3% 3%;

  background: #d2ebe9;
  background: -webkit-linear-gradient(#272727, #0B0C10, #1A1A1D);
  background: -o-linear-gradient(#272727, #0B0C10, #1A1A1D);
  background: -moz-linear-gradient(#272727, #0B0C10, #1A1A1D);
  background: linear-gradient(#272727, #0B0C10, #1A1A1D);
}

.wrap-login105 {
  width: 1070px;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  padding: 3% 3% 3% 3%;

  background: #d2ebe9;
  background: -webkit-linear-gradient(#272727, #0B0C10, #1A1A1D);
  background: -o-linear-gradient(#272727, #0B0C10, #1A1A1D);
  background: -moz-linear-gradient(#272727, #0B0C10, #1A1A1D);
  background: linear-gradient(#272727, #0B0C10, #1A1A1D);
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px;
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background-color: #fff;
  margin: 0 auto;
  content: inherit;
  border-radius: 50%

}

.login100-form-logo1 {
  font-size: 60px;
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
  background-color: #fff;
  margin: 0 auto;
  content: inherit;
  /* border-radius: 15px 15px 15px 15px; */
  clip-path: polygon(50% 0%, 110% 100%, 0% 110%, 0% 0%, 0% 85%, 50% 0%);

}

.login100-form-logo3 {
  font-size: 60px;
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #fff;
  margin: 0 auto;
  content: inherit;
  border-radius: 50%

}

#profileDisplay {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('/images/blank-avatar.jpg');
  /* make a square container */
  width: 100%;
  height: 100%;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

#profileDisplay1 {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('/images/blank-avatar.jpg');
  /* make a square container */
  width: 100%;
  height: 100%;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  background-color: transparent 50%;

}

.center{
  text-align: center;
}

.login100-form-title {
  font-family: Poppins-Medium;
  font-size: 30px;
  color: #FFE400;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  font: bold;
  display: block;
}

.login100-form-title1 {
  font-family: Poppins-Medium;
  font-size: 22px;
  color: #FCCD04;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  font: bold;
  display: block;
}

.login100-form-title2 {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #F8E9A1;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  font: bold;
  display: block;
}

.login100-form-title3 {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #F8E9A1;
  line-height: 1.2;
  text-align: left;
  display: block;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 30px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #FFE400;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

/**icon**/
.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #FFE400;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus+.focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus+.focus-input100::before {
  width: 100%;
}

.has-val.input100+.focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100+.focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #FAED26;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked+.label-checkbox100::before {
  color: #555555;
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-login100-form-btn1 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}


.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  min-width: 90px;
  height: 50px;
  border-radius: 25px;
  margin-left: 20px;
  /* background: #4e4376;
  background: -webkit-linear-gradient(bottom, #7579ff, #4e4376);
  background: -o-linear-gradient(bottom, #7579ff, #4e4376);
  background: -moz-linear-gradient(bottom, #7579ff, #4e4376);
  background: linear-gradient(bottom, #7579ff, #4e4376); */
  background: #F8E9A1;
  background: -webkit-linear-gradient(bottom, #F8E9A1, #FCCD04);
  background: -o-linear-gradient(bottom,  #F8E9A1, #FCCD04);
  background: -moz-linear-gradient(bottom, #F8E9A1, #FCCD04);
  background: linear-gradient(bottom,  #F8E9A1, #FCCD04);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #282828;
}

.login100-form-btn:hover:before {
  opacity: 0;
}

.buttonposition{
  margin-left: 3%;
}

hr{
  border-top: 1px solid #F8E9A1;
}


fieldset {
  border: none;
  padding: 0px;
  margin-bottom: 2%;
  margin-left: 2%;
  font-size: 14px; 
}

.login100-form-btn1 {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #555555;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  min-width: 100px;
  height: 20px;
  border-radius: 25px;
  margin-left: 20px;
  /* background: #4e4376;
  background: -webkit-linear-gradient(bottom, #7579ff, #4e4376);
  background: -o-linear-gradient(bottom, #7579ff, #4e4376);
  background: -moz-linear-gradient(bottom, #7579ff, #4e4376);
  background: linear-gradient(bottom, #7579ff, #4e4376); */
  background: #F8E9A1;
  background: -webkit-linear-gradient(bottom, #F8E9A1, #FCCD04);
  background: -o-linear-gradient(bottom,  #F8E9A1, #FCCD04);
  background: -moz-linear-gradient(bottom, #F8E9A1, #FCCD04);
  background: linear-gradient(bottom,  #F8E9A1, #FCCD04);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.login100-form-btn1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn1:hover {
  color: #282828;
}

.login100-form-btn1:hover:before {
  opacity: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

/** ！***/
.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #fff941;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed rgb(128, 70, 4);
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: rgba(252, 214, 0, 0.582);
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

#gender {
  position: relative;
}


.steps-form {
  display: table;
  width: 100%;
  position: relative;
}

.steps-form .steps-row {
  display: table-row;
}

.steps-form .steps-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.steps-form .steps-row .steps-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.steps-form .steps-row .steps-step p {
  margin-top: 0.5rem;
}

.steps-form .steps-row .steps-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.steps-form .steps-row .steps-step .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-top: 0;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  color: white;
}

#certImg {
  float:  left;
  background-size: cover;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  height:35%!important;
  width:70%!important;
}


#certImg2 {
  float: left;
  background-size: cover;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  height: 30% !important;
  width: 50% !important;
}
